.u-section-1 .u-sheet-1 {
  min-height: 520px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
}
main {
  flex: 1;
}
.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 540px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-table-1 {
  width: 400px;
  margin: 20px auto 0;
}

.u-block-be75-18 {
  height: 46px;
}

.u-block-be75-25 {
  height: 46px;
}

.u-section-1 .u-btn-1 {
  margin: 20px auto 0;
  padding: 10px 4px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.25rem;
  margin: 240px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 445px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-table-1 {
    width: 290px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 988px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 622px;
  }
}